<main id="#main" class="container-fluid">
  <section class="main-split">
    <div class="main-content--left">
      <h2>Más de 2.000 participantes aprendieron a programar 
      durante la ultima edición.</h2>

      <p class="text-muted">Por segundo año consecutivo, la Ciudad desarrolla un
        innovador evento para que cualquier ciudadano pueda
        aprender un nuevo lenguaje, el de la programacion, que les
        permitira armar una pagina web, aplicaciones y juegos.</p>
    </div>
    <div class="main-content--right d-lg-block"></div>
  </section>
  <section class="container-fluid main--inscriptos">
  <app-examen-tabla></app-examen-tabla>
  </section>
</main>