main.container-fluid {
    padding: 0;
}

section.main-split {
    height: 550px;
    width: 100%;
    margin-bottom: 55px;
    display: flex;
    padding: 0;
}

.main-content--left, .main-content--right {
    flex: 1;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.main-content--left h2 {
    font-size: 2.6em;
    padding: 0px 50px 25px 50px;
    line-height: 1.2em;
    font-family: "Lato", "Helvetica", sans-serif;
}

.main-content--left p {
    line-height: 1.5em;
    font-size: 1em;
    padding: 15px 150px 15px 50px;
    text-align: justify;
}

.main-content--right {
    background: url("/assets/img/2350.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section.main--inscriptos {
    width: 100%;
    background-color: #f9f9f9;
    padding: 50px 50px 150px 50px;
    margin-bottom: 55px;
}

@media (max-width: 900px) {
    .main-content--left h2 {
        font-size: 2.3em;
    }

    .main-content--right {
        display: none;
    }
}

@media (max-width:768px) {
    .main-content--left h2 {
        font-size: 2em;
    }

    .main-content--left p {
        font-size: .95em;
        padding: 15px 50px 15px 50px;
    }

    section.main--inscriptos {
        padding: 25px 15px 75px 15px;
    }
	
@media (max-width:480px) {
        section.main-split {
        height: 500px;
    }
}

}
