<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 footer-logo">
                <a href="https://www.buenosaires.gob.ar" target="_blank"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-acerca">
                <p>ACERCA DE ESTE SITIO</p>
                <ul>
                    <li><a href="#" target="_blank">Términos y condiciones</a></li>
                    <li><a href="#" target="_blank">Política de privacidad</a></li>
                    <li><a href="#" target="_blank">Sobre esta web</a></li>
                    <li><a href="#" target="_blank">Mapa de sitio</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-telefonos">
                <p>TELÉFONOS ÚTILES</p>
                <ul>
                    <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:"> 103 | Emergencias</a></li>
                    <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:"> 107 | SAME</a></li>
                    <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:"> 108 | Línea Social</a></li>
                    <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:"> 147 | Atención Ciudadana</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <p class="hidden-sm hidden-xs">CONTACTO</p>
                <hr class="hidden-md hidden-lg">
                <ul class="redes d-flex">
                    <a href="#" class="redes-fb"></a>
                    <a href="#" class="redes-tw"></a>
                    <a href="#" class="redes-yt"></a>
                    <a href="#" class="redes-ig"></a>
                    <a href="#" class="redes-rss"></a>
                </ul>
                <hr class="hidden-md hidden-lg">
            </div>
        </div>
        <hr class="hidden-sm hidden-xs">
        <div class="bac">
            <a href="#" target="_blank"><img src="/src/assets/img/bac-footer.png" alt="Logo Buenos Aires Ciudad"></a>
            <p class="text-muted">Los contenidos de Gobierno de la Ciudad Autónoma de Buenos Aires están licenciados 
                bajo Creative Commons Reconocimiento 2.5 Argentina License</p>
        </div>
    </div>
</footer>